$page-bg: #0c456d;

$block-bg: #010d1b;
$block-bg-1: #06344d;

$background-overlay: rgba(0, 0, 0, 0.05);

$color-primary: #61b4e6;
$color-secondary: #0c456d;

$color-black: #000000;
$color-black-1: #06344c;

$color-white: #ffffff;
$color-yellow: #faff13;

$color-grey: #a7a7a7;
$color-grey-1: #b9c2c7;
