/* Checkbox */
.app-checkbox {
  height: 20px;
  width: 20px;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include anim(0.2s);
  svg {
    height: 16px;
    width: 16px;
    @include hide;
    @include anim(0.2s);
  }
  &.checked {
    border-color: $color-primary;
    background-color: $color-primary;
    svg {
      @include show;
    }
  }
}

/* Radio */
.app-radio {
  width: 17px;
  height: 17px;
  min-width: 17px;
  border-radius: 50%;
  border: 1px solid $color-white;
  @include anim;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-primary;
    @include hide;
  }
  &.active {
    border-color: $color-primary;
    &::after {
      @include show;
    }
  }
}
