/* Checkbox */
.app-checkbox {
  height: 20px;
  width: 20px;
  color: $color-white;
  border: 1px solid $color-white;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include anim(0.2s);
  svg {
    height: 16px;
    width: 16px;
    @include hide;
    @include anim(0.2s);
  }
  &.checked {
    border-color: $color-primary;
    background-color: $color-primary;
    svg {
      @include show;
    }
  }
}

/* Radio */
.app-radio {
  width: 17px;
  height: 17px;
  min-width: 17px;
  border-radius: 50%;
  border: 1px solid $color-white;
  @include anim;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $color-primary;
    @include hide;
  }
  &.active {
    border-color: $color-primary;
    &::after {
      @include show;
    }
  }
}

/* Spinner Circle Rotation */
.sp-circle {
  width: 34px;
  height: 34px;
  clear: both;
  border-width: 4px;
  border-color: rgba(42, 120, 224, 0.15);
  border-style: solid;
  border-top-width: 4px;
  border-top-color: rgba(42, 120, 224, 1);
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Dot Loader */
.dot-loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 24px 0 #fff, -24px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 24px 0 #fff2, -24px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 24px 0 #fff2, -24px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 24px 0 #fff, -24px 0 #fff2;
  }
}
