.product-detail-page {
  .wrapper {
    width: 100%;
    margin: 36px 0px 78px 0px;
    @include media("<=sm") {
      margin: 24px 0px 24px 0px;
    }
    .content {
      .product-detail-section {
        background: $block-bg-1;
        border-radius: 15px;
        padding: 35px 35px;
        @include media("<=md") {
          padding: 24px 24px;
        }
        @include media("<=sm") {
          padding: 20px 20px;
        }
      }
    }
    .similar-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 182px;
      .foreground-title {
        font-size: 154px;
        line-height: 212px;
        color: rgba(255, 255, 255, 0.08);
        @include fontCormorant;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 38px;
        white-space: nowrap;
        overflow: hidden;
        @include media("<=xl") {
          font-size: 132px;
        }
        @include media("<=lg") {
          font-size: 100px;
          top: 0px;
        }
        @include media("<=md") {
          font-size: 70px;
        }
      }
      .similar-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .swiper-slider {
          width: 100%;
          padding: 0px 12px;
          @include media("<=xl") {
            padding: 0px 0px;
          }
          .product-card {
            width: 100%;
          }
        }
        .swiper-button {
          width: 44px;
          height: 44px;
          border-radius: 50%;
          color: $color-primary;
          background: $color-secondary;
          box-shadow: 0px 0px 100px $color-black-2;
          position: absolute;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 9;
          &:disabled {
            opacity: 0.9;
            cursor: no-drop;
          }
          svg {
            height: 26px;
            width: 26px;
          }

          &.swiper-button-prev {
            left: -6px;
            @include media("<=xl") {
              left: 0;
            }
          }
          &.swiper-button-next {
            right: -6px;
            @include media("<=xl") {
              right: 0;
            }
          }
        }
      }
    }
  }
}
